* {
    font-family: 'Roboto', 'Source Sans Pro', sans-serif;
}



.custom-card {
    background-color: #fafafa;
    border: 1px solid #ccc;
    padding: 10px;
}

.custom-card h5 {
    font-size: 18px;
    font-weight: bold;
}

.custom-card p {
    font-size: 16px;
    line-height: 1.5;
}

.custom-card img {
    max-width: 100%;
    height: auto;
}

.custom-card .btn {
    margin-bottom: 10px;
}

.fixed-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

.sidebar {
    color: #333;
    height: 100vh;
    width: 25%;
    position: fixed;
    background-color: #F8F9FA;
}

.sidebar a {
    color: #333;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
}

.sidebar a i {
    font-size: 24px;
    margin-right: 10px;
}

.sidebar a span {
    vertical-align: middle;
}

.sidebar a:hover {
    background-color: #eaeaea;
}

.profile-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.profile-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
}

.profile-info span {
    vertical-align: middle;
    margin-left: 10px;
}

.btn-hover-green:hover {
    background-color: green !important;
    border-color: green !important;
}

.btn-hover-gray:hover {
    background-color: lightgray !important;
    border-color: lightgray !important;
}

.config-mobile {
    display: none !important;
}

.logo {
    display: block;
    width: 130px;
    height: auto;
}

.logo-mobile {
    display: none;
}

.btn-custom {
    background-color: #7cd5a7 !important;
    color: black !important;
}

@media screen and (min-width: 767px) {
    .hide-perfil-mobile {
        display: none;
    }
}

@media screen and (max-width: 960px) {
    .friend-suggestions {
        display: none;
    }

    .feed-mobile {
        justify-content: stretch !important;
    }
}

@media screen and (max-width: 767px) {

    .config-mobile {
        display: block !important;
    }

    .config {
        display: none !important;
    }

    .sidebar {
        position: sticky;
        height: auto;
        width: auto;
        padding-block: 1rem !important;
    }

    .feed-mobile {
        margin-inline: 1rem;
    }

    .sidebar a {
        margin-top: 0;
        margin-right: 0;
        display: inline-block;
    }

    .sidebar a span {
        display: none;
    }

    .hide-perfil-desktop {
        display: none;
    }

    .icon-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
    }

    .sidebar .profile-image {
        width: 35px;
        height: auto;
        border-radius: 50%;
    }

    .logo {
        display: none;
    }

    .logo-mobile {
        display: block;
        width: 180px;
        height: auto;
    }

    .friend-suggestions {
        display: none;
    }

    .btn-link.dropdown-toggle::after {
        display: none;
    }

}